.backlog{
	background: url("../image/login_background.png");
	height: 100%;
	.loginback{
		background: #13bdd2;
		margin-top:50px;
		border-radius:5px;
		text-align:center;
		color:white;
		height: 550px;
	}
}
.avatarlog {
		img{border-radius:50%;
			}
		margin-top: 60px;
   		margin-bottom: 40px;
  		position: relative;
}
.haslo{
	margin-top:50px;
	width: 60%;
    margin: 10px auto;
    border-radius:4px;
}
.selgo{
	display: -webkit-inline-box;
	font-size: 11px;
}
.buttonlog {
	background: white;
    border-radius: 4px;
    line-height: 2;
    width: 100px;
    color: black;
    margin-left: 5px;
}
.h7{
	font-size: 11px;
}
.footermen{
	color: white;
    font-size: 10px;
	margin: 0 0 0 27%;
}